In [1]:
import pandas as pd

In [2]:
#Importing Excel File. Excel file contains 3 sheets. This creates a dictionary.
input_data = pd.read_excel('file.xlsx',sheet_name = None)
input_data

{'Sheet1':   EQUIPMENT_CODE                 PRIMARY_FUEL
 0          6F.01                  NATURAL GAS
 1         7HA.01                          GAS
 2         7HA.01                  NATURAL GAS
 3          9E.04  LIQUIFIED NATURAL GAS (LNG)
 4          9E.04                     COAL GAS
 5          9E.04                          GAS
 6          9E.04                  NATURAL GAS,
 'Sheet2':   EQUIPMENT_CODE          SECONDARY_FUEL
 0          6F.01  DISTILLATE OIL - LIGHT
 1          6F.01                    NONE
 2         7HA.01                    NONE
 3         7HA.01  DISTILLATE OIL - LIGHT
 4          9E.04                    NONE,
 'Sheet3':   EQUIPMENT_CODE CONTROL_TYPE
 0          6F.01          TMR
 1         7HA.01         DUAL
 2         7HA.01          TMR
 3          9E.04          TMR}

In [3]:
input_data.keys()

dict_keys(['Sheet1', 'Sheet2', 'Sheet3'])

In [4]:
#concatenating all the 3 sheets into a dataframe
data=pd.concat(input_data.values(),ignore_index=False)
data

,EQUIPMENT_CODE,PRIMARY_FUEL,SECONDARY_FUEL,CONTROL_TYPE
0,6F.01,NATURAL GAS,NaN,NaN
1,7HA.01,GAS,NaN,NaN
2,7HA.01,NATURAL GAS,NaN,NaN
3,9E.04,LIQUIFIED NATURAL GAS (LNG),NaN,NaN
4,9E.04,COAL GAS,NaN,NaN
5,9E.04,GAS,NaN,NaN
6,9E.04,NATURAL GAS,NaN,NaN
0,6F.01,NaN,DISTILLATE OIL - LIGHT,NaN
1,6F.01,NaN,NONE,NaN
2,7HA.01,NaN,NONE,NaN
3,7HA.01,NaN,DISTILLATE OIL - LIGHT,NaN
4,9E.04,NaN,NONE,NaN
0,6F.01,NaN,NaN,TMR
1,7HA.01,NaN,NaN,DUAL
2,7HA.01,NaN,NaN,TMR
3,9E.04,NaN,NaN,TMR

In [5]:
#splitting the dataframe into sub-dataframes based on unique equipment code and put them into a dictionary.
dfs = {x: data[data['EQUIPMENT_CODE'] == x] for x in data['EQUIPMENT_CODE'].unique()}
dfs

{'6F.01':   EQUIPMENT_CODE PRIMARY_FUEL          SECONDARY_FUEL CONTROL_TYPE
 0          6F.01  NATURAL GAS                     NaN          NaN
 0          6F.01          NaN  DISTILLATE OIL - LIGHT          NaN
 1          6F.01          NaN                    NONE          NaN
 0          6F.01          NaN                     NaN          TMR,
 '7HA.01':   EQUIPMENT_CODE PRIMARY_FUEL          SECONDARY_FUEL CONTROL_TYPE
 1         7HA.01          GAS                     NaN          NaN
 2         7HA.01  NATURAL GAS                     NaN          NaN
 2         7HA.01          NaN                    NONE          NaN
 3         7HA.01          NaN  DISTILLATE OIL - LIGHT          NaN
 1         7HA.01          NaN                     NaN         DUAL
 2         7HA.01          NaN                     NaN          TMR,
 '9E.04':   EQUIPMENT_CODE                 PRIMARY_FUEL SECONDARY_FUEL CONTROL_TYPE
 3          9E.04  LIQUIFIED NATURAL GAS (LNG)            NaN          NaN
 4          9E.04                     COAL GAS            NaN          NaN
 5          9E.04                          GAS            NaN          NaN
 6          9E.04                  NATURAL GAS            NaN          NaN
 4          9E.04                          NaN           NONE          NaN
 3          9E.04                          NaN            NaN          TMR}

In [6]:
dfs.keys()

dict_keys(['6F.01', '7HA.01', '9E.04'])

In [7]:
final_df=pd.DataFrame()                         #Creating an empty dataframe in which updated dataframes will be appended.
for key in dfs.keys():                          #Loop through dictionary key items to get the unique equipment code
    df=dfs.get(key)                             #Each value of a dictionary is a dataframe
    df=df.apply(lambda x: x.dropna().reset_index(drop = True))                          #Loop through each column, remove duplicates,shifts the values up(by resetting index)
    df=df.dropna(subset=['PRIMARY_FUEL', 'SECONDARY_FUEL', 'CONTROL_TYPE'], how='all')  #subset without equipment code means - apart from equipment code, if mentioned column values are empty - drop the row.
    final_df=final_df.append(df)                                                        #store updated dataframes into final_df.
final_df=final_df.set_index('EQUIPMENT_CODE')                                           #update index as equipment code.
final_df.to_excel('final_df.xlsx')                                                      #Export final_df.
final_df

,PRIMARY_FUEL,SECONDARY_FUEL,CONTROL_TYPE
EQUIPMENT_CODE,,,
6F.01,NATURAL GAS,DISTILLATE OIL - LIGHT,TMR
6F.01,NaN,NONE,NaN
7HA.01,GAS,NONE,DUAL
7HA.01,NATURAL GAS,DISTILLATE OIL - LIGHT,TMR
9E.04,LIQUIFIED NATURAL GAS (LNG),NONE,TMR
9E.04,COAL GAS,NaN,NaN
9E.04,GAS,NaN,NaN
9E.04,NATURAL GAS,NaN,NaN

##### Upon Filtering each Equipment code, we can able to view uniques values.